@import "../styles/variables";

.source-table {
  margin-bottom: 1rem;

  .ReactTable .rt-td {
    white-space: normal;
    text-overflow: clip;
    overflow: scroll;
  }

  a {
    color: $link;
    text-decoration: none;

    &:hover {
      color: $link-hover;
    }
  }
}

.source-table__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1.2rem 0.9rem;

  input[name="filter"] {
    padding: 1rem 0.6rem;
    font-size: 1.6rem;
  }
}

.source-table__input__add {
  flex-basis: 0;
  align-self: flex-end;
  cursor: pointer;
  color: $dark-gray;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.1rem;

  &:hover {
    border-bottom: 1px dotted;
  }
}

.source-table__input__note {
  margin-top: 0.4rem;
  color: $dark-gray;
  align-self: center;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}
