@import "../styles/variables";

.source-table {
  margin-bottom: 2rem;

  .ReactTable .rt-td {
    white-space: normal;
  }

  a {
    color: $link;
    text-decoration: none;

    &:hover {
      color: $link-hover;
    }
  }
}

.source-table__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1.2rem 1.2rem;

  input[name="filter"] {
    padding: 1rem 0.6rem;
    font-size: 1.6rem;
  }
}

.source-table__input__add {
  flex-basis: 0;
  align-self: flex-end;
  cursor: pointer;
  color: $dark-gray;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.1rem;

  &:hover {
    border-bottom: 1px dotted;
  }
}
