.modal__header {
  font-family: Futura-Medium;
  text-align: center;
  color: #000;
  font-size: 2.6rem;
  margin: 1rem 0;
}

.modal__form {
  font-family: Futura-Medium;
}

.ReactModal__Content {
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 0.4rem;
    margin: 0.2rem 0 0.6rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 1rem 1.2rem;
    margin: 0.8rem 0;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: Futura-Medium;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
}
